<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.study.springrest.mappers.replyMapper">

	
	<insert id="insert">
		insert into reply(content, user_name, board_no)
		values(#{content}, #{user_name}, #{board_no})
	</insert>
	
	<update id="update">
		update reply 
		<set>
			<if test="content != null">
				content = #{content},
			</if>
			<if test="user_name != null">
				user_name = #{user_name},
			</if>
		</set>
		where reply_no = #{reply_no}
	</update>
	
	<delete id="delete">
		delete from reply where reply_no = #{reply_no}
	</delete>
	
	<select id="get" resultType="com.study.springrest.domain.ReplyVO">
		select * from reply where board_no = #{board_no} limit #{cri.pageSize} offset #{cri.startPage}
	</select>
	
	<select id="getList" resultType="com.study.springrest.domain.ReplyVO">
		select * from reply
	</select>
	
	<select id="getReplyCount" resultType="java.lang.Integer">
		select count(*) from reply where board_no = #{board_no}
	</select>
	
</mapper>